/*tailwind.config.ts 에 해당 내용 작성 */
theme: {
  extend: {
    /* ... */
    cursor: {
      default: "url('/assets/cursor/default.cur'), auto",
      mouse: "url('assets/cursor/mouse.cur'), help",
    },
  }
}