@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font settings */
@layer base {
  /* Pretendard */
  @font-face {
    font-family: "Pretendard";
    src: url("../assets/font/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
  }
  @font-face {
    font-family: "Pretendard";
    src: url("../assets/font/Pretendard-Light.woff") format("woff");
    font-weight: 300;
  }
  @font-face {
    font-family: "Pretendard";
    src: url("../assets/font/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: "Pretendard";
    src: url("../assets/font/Pretendard-ExtraBold.woff") format("woff");
    font-weight: 800;
  }

  /* WideNerd */
  @font-face {
    font-family: "MonoplexWideNerd";
    src: url("../assets/font/MonoplexKRWideNerd-Regular.ttf") format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "MonoplexWideNerd";
    src: url("../assets/font/MonoplexKRWideNerd-Bold.ttf") format("ttf");
    font-weight: 700;
  }

  /* header -> div : MonplexWideNerd, regular */
  header div {
    @apply font-MonoplexWideNerd font-normal;
  }

  /* h1: MonoplexWideNerd, bold */
  h1 {
    @apply font-MonoplexWideNerd font-bold;
  }

  /* footer -> p : Pretendard, light */
  footer p {
    @apply font-Pretendard font-light;
  }
}
